/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 10px;
  width: 900px;
  margin: auto;
}

.f-left {
  float: left;
}

body {
  background-image: url("../img/natural-pattern.png");
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  color: #2a2022;
}

a {
  text-decoration: none;
  color: white;
}

/* Header */
header {
  width: 100%;
  height: 300px;
}

/* Prima sezione header - immagine */
.header-img {
  width: 100%;
  height: 255px;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  border: 8px solid white;
  position: relative;
}

.header-img .logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-img .logo img {
  width: 300px;
  margin-bottom: 25px;
}

.header-img .logo h3 {
  color: white;
  text-transform: uppercase;
}

/* Menu di navigazione header */
header nav {
  width: 100%;
  height: 45px;
  background-color: #5b636a;
}

.main-menu {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.main-menu li {
  display: inline-block;
  line-height: 43px;
  font-weight: 700;
  padding: 0 10px;
  font-size: 12px;
}

.main-menu li:hover {
  background-color: #718198;
  border-bottom: 2px solid #3a5a40;
}

/* Colonna sinistra */
.col-left {
  width: 25%;
  background-color: #edf2f4;
  border-radius: 5px;
  padding: 5px 10px;
}

.left-title i {
  color: orange;
  float: left;
  margin-right: 10px;
  font-size: 30px;
}

.left-title h2 {
  font-family: "Lato", sans-serif;
  color: #2a2022;
  font-weight: 700;
}

.col-left ul a {
  color: green;
  font-weight: 500;
}

.col-left ul li {
  list-style-type: none;
  margin: 10px 0;
}

.col-left ul a:hover {
  text-decoration: underline;
}

/* Sezione centrale */
main {
  margin: 10px 0;
}

.content {
  width: calc(55% - 80px);
  background-color: #edf2f4;
  margin: 0 40px;
  border-radius: 5px;
  padding: 15px;
}

.content h1 {
  text-shadow: 1px 2px 1px gray;
  margin-bottom: 25px;
}

.content p {
  line-height: 1.6;
}

/* Colonna destra */
.col-right {
  width: 20%;
}

.text-widget {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #edf2f4;
  border-radius: 5px;
  padding: 15px;
}

.text-widget h3 {
  margin-bottom: 25px;
}

.text-widget p {
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 400;
}

/* Footer */
footer {
  width: 100%;
  background-color: #edf2f4;
  border-radius: 5px;
}

.copyright {
  width: calc(100% - 10px);
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 25px;
  color: rgb(179, 177, 177);
  border-bottom: 2px solid rgb(179, 177, 177);
}

.social-icons li {
  width: calc(100% / 3);
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  list-style-type: none;
}

.social-icons li a {
  color: lightgray;
}
